<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>hbase.cluster.distributed</name>
        <value>true</value>
    </property>
    <property>
        <name>hbase.rootdir</name>
        <value>hdfs://<HADOOP-MASTER>:8030/hbase</value>
    </property>
    <property>
        <name>hbase.zookeeper.quorum</name>
        <value><HADOOP-MASTER></value>
    </property>
</configuration>